<%= form_for(@blog_post) do |f| %>
  <% if @blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% @blog_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<!-- DATE  -->
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
<!-- TITLE -->
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
<!-- AUTHOR -->
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>

<!-- BODY -->
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>

  <div class="myButton">
    <%= f.submit "publish" %> 
  </div>


<% end %>




