%p#notice= notice

%p
  %b Title:
  = @blog_post.title
%p
  %b Author:
  = @blog_post.author
%p
  %b Body:
  = @blog_post.body

= link_to 'Edit', edit_blog_post_path(@blog_post)
\|
= link_to 'Back', blog_posts_path
