<!DOCTYPE html>
<!--
             .                                      .o8       oooo            
           .o8                                     "888       `888            
 .oooo.o .o888oo oooo  oooo  ooo. .oo.    .oooo.    888oooo.   888   .ooooo.   
d88(  "8   888   `888  `888  `888P"Y88b  `P  )88b   d88' `88b  888  d88' `88b 
`"Y88b.    888    888   888   888   888   .oP"888   888   888  888  888ooo888 
o.  )88b   888 .  888   888   888   888  d8(  888   888   888  888  888    .o 			
8""888P'   "888"  `V88V"V8P' o888o o888o `Y888""8o  `Y8bod8P' o888o `Y8bod8P'  

			==jgs==!====!=====!=====!====!===!===!=====!===!===!====
		       /`\__/`\   /`\   /`\  |~| |~|  /)=I=(\  /`"""`\
		      |        | |   `"`   | | | | |  |  :  | |   :   |
		      '-|    |-' '-|     |-' )/\ )/\  |  T  \ '-| : |-'
		        |    |     |     |  / \// \/  (  |\  |   ___
		        '.__.'     '.___.'  \_/ \_/   |  |/  /
		                                      |  /  /
		                                      |  \ /
		                                      '__'`
	                                                                              
                                                                              
                                                    																-->   
<html>

<head>
	<title>Stunable</title>
  <%= stylesheet_link_tag    "application", media: "all" %><!-- <label id="code.slt"/> -->
  <%= javascript_include_tag "application" %><!-- <label id="code.jlt"/> -->
  <%= csrf_meta_tags %><!-- <label id="code.csrf"/> -->

</head>

<body class="<%= controller.controller_name %>">

<!-- 	<div class="background"> -->
    <%#= image_tag("background.png") %>
<!--   </div>
 -->
<!-- <div class="logo"> -->
  		<%#= link_to image_tag("stunable_logo.png"), blog_path %>
<!-- 	</div> -->

	<div class="nav">
			<div class="logo">
  		<%= link_to image_tag("stunable_logo.png"), blog_path %>
			</div>

		<table style="border-spacing: 20px;">
				<tr>
					<td class="nav-links"> <%= link_to 'Blog', blog_path %> </td> <!-- only show this on pages NOT the blog -->
					<td style="padding-right: 10px">
					<td class="nav-links"> <%= link_to 'Shop', store_index_path %> </td>
					<td style="padding-right: 10px">
					<td class="nav-links"> <%= link_to 'Stunable Sync', page_path("stunable-sync") %> </td>
					<td style="padding-right: 10px">
					<td class="nav-links"> <%= link_to 'About', page_path("about") %> </td>
				</tr>
		</table>
	</div>

	<div class="floating-container">
		<div class="inner-content">
	    <%= yield %><!-- <label id="code.depot.e.include"/> -->
		</div>
	</div>




	
   
    <%#= @page_title || "BLOG" %> <!--<label id="code.depot.e.title"/> -->

	
</body>
</html>